body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.adminletter{
  font-family: 'Abril Fatface', cursive;
}
.form{
  align-content: center;
}
.cardmy{
  /* background-color:rgb(135, 187, 222); */
  /* border-width: thick; */
  /* border-style: double;
  border-radius: 30px; */
  /* border-color: black; */
  border-style: solid;
  border-color: black;
  border-width: 5px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(180, 211, 248);

}
.cardedit{
  background-color: rgb(180, 211, 248);
}
.imageprofile{
  
  height: 10px ;
}
 .images{
   height: 0px;
   width: 10px;
 }
